@page
@model CatalogsManager.Pages.Catalogs.CatalogsView
@inject IViewLocalizer Localizer

<html>
<body>
    <h1 class="cmn-h_1">@Localizer["PageDescription"]</h1>
    <ul class="cmn-list-style">
        @foreach (var catalog in Model.Catalogs)
        {
            <li class="d-flex justify-content-between list-group-item list-group-centre">
                <div class="cmn-text-style_list-parent">
                    <p class="cmn-text-style-list-inner">@catalog.Kind</p>
                </div>

                @{
                    var routeAllCatalogData = new Dictionary<string, string>()
                    {
                        ["catalogId"] = catalog.CatalogId.ToString(),
                        ["kind"] = catalog.Kind,
                    };
                }

                <div class="group-action-buttons">
                    <a class="btn btn-info cmn-btn-action cmn-link-style-list-parent"
                       asp-page="/Groups/GroupsView" asp-all-route-data="@routeAllCatalogData">@Localizer["View"]</a>
                    <a class="btn btn-danger ml-1 cmn-btn-action cmn-link-style-list-parent" 
                       asp-page="CatalogEdit" asp-all-route-data="@routeAllCatalogData">@Localizer["Edit"]</a>
                </div>
            </li>
        }
    </ul>

    <form method="get" asp-page="CatalogCreate">
        <button type="submit" class="btn btn-info cmn-item-bottom_item">@Localizer["Create"]</button>
    </form>
</body>
</html>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}