@page
@model CatalogsManager.Pages.Catalogs.CatalogEditModel
@inject IViewLocalizer Localizer

<h1 class="cmn-h_1">@Localizer["PageDescription"] @Model.Catalog.Kind</h1>

<form method="post">
    <label asp-for="@Model.Catalog.Kind" class="cmn-lbl-description_input"></label>
    <input class="form-control" asp-for="@Model.Catalog.Kind" />
    <span asp-validation-for="@Model.Catalog.Kind"></span>

    <input type="hidden" asp-for="@Model.Catalog.CatalogId" />

    <div class="cmn-item-bottom_item">
        <button type="submit" asp-page-handler="Update" class="btn btn-info">@Localizer["Edit"]</button>
        <button type="submit" asp-page-handler="Delete" class="btn btn-danger">@Localizer["Delete"]</button>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}