@page
@model LoginModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h1>@Localizer["Title"]</h1>
<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>@Localizer["Description"]</h4>
        <hr />
        @{
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="@Localizer["BtnDescription"] @provider.DisplayName">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}